* {
  padding: 0%;
  margin: 0%;
}
#navbar {
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  width: 100%;
  /* background-color: lightgoldenrodyellow; */
}
#navbar ul {
  display: flex;
}
#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  color:#484B4F;
  font-size: 1.3rem;
  /* display: block; */
  padding: 13px 30px;
  margin: 10px;
  text-decoration: none;
}
#phone {
  margin: 0px;
  margin-left: 170px;
}
#phone a img {
  padding-left: 8 px;
  width: 20 px;
  height: 23 px;
  padding-top: -1px;
  padding-bottom: 1px;
  margin: -6px;
}
#logoh {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.8rem;
  text-align: center;
  /* justify-content: center; */
  /* position: static; */
  /* width: 53px; */
  /* font-style: initial; */
  line-height: 19px;
  /* font-size: 36px; */
}
#logo img {
  height: 70px;
  width: 70px;
  padding: 10px;
  margin: 0px 30px;
}
#home {
  display: flex;
  flex-direction: row;
  padding: 150px 50px;
  height: 400px;
  /* width: 1300px; */
  background-color:#F0F0F0;
  justify-content: left;
  align-items: flex-start;
}
#home::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  /* width: 100%; */
  z-index: -1;
}
#home h1 {
  font-size: 4.3rem;
  text-align: left;
  padding: 5px 5px;
  margin-top: 80px;
  font-weight: initial;
  width: 480px;
  justify-content: left;
  color: #2B2F33;
}
#home p {
  justify-content: left;
  text-align: left;
  color: rgb(12, 1, 1);
  font-family: "Architects Daughter", cursive;
  width: 480px;
  color: #6B7279;
}
.home
{
  /* position: relative; */
  margin: 0px 0px;
  /* padding: 50px; */
  align-items: right;
  /* justify-content: start; */

}
.h
{
  position: relative;
}
#home img {
  height: 700px;
  width: 400px;
  padding: 0 50px;
  /* margin: 0px 100px; */
  margin-left: 190px;
  margin-top: 50px;
}
.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: #1F2131;
  color: white;
  margin: 15px 0px;
  font-size: 1.2rem;
  cursor: pointer;
}
#home a
{
  margin: 0px 250px;
  /* margin-bottom:120px ; */
  /* margin-top: ; */
  padding: 1px 30px;
  /* padding-bottom: 19px; */
}
#menu h4
{
  font-size: 35px;
  color: #424950;
  margin: 5px 10px;
}
#numbers
{
  display: flex;
  flex-direction: row;
}
.menu-h h1
{
  font-size: 3.3rem;
  padding: 10px 60px;
  color: #FAFAFA;
}
.menu-h p
{
  font-size: 1.3rem;
  padding: 10px 50px;
  font-weight: bold;
  color: #CDCECF;
}
#menu
{
  background-color: #2F3338;
  /* width: 100%;
  height: 100%; */
  display: flex;
  flex-direction: row;
  /* padding: 150px 50px; */
  height: 100%;
  /* width: 1300px; */
  /* background-color: #ededed; */
  justify-content: left;
  align-items: flex-start;
}
#menu::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  /* width: 100%; */
  z-index: -1;
}
#machine img
{
  width: 500px;
  height: 700px;
  /* position: absolute; */
  margin: 100px 90px;
}
#menu-2
{
  display: flex;
  flex-direction: row;
}
#text
{
  margin: 98px;
}
#text h1
{
  font-size: 3.3rem;
  width: 400px;
  color: #FAFAFA;
}
#text h2
{
  padding-top: 120px;
  padding-bottom: 30px;
  color: #C19060;
  font-size: 25px;
}
#text p
{
  padding: 30px 0px;
  font-size: 23px;
  color: #FAFAFA;
}
#MenuMore
{
  padding-top: 40px;
  font-size: 25px;
}
#MenuMore a
{
  color: #1F2131;
}
#li1
{
  color: #C49261;
}
#li2
{
  color: #FAFAFA;
}
#li3
{
  color: #FAFAFA;
}
.list ul li
{
  display: inline-table;
  /* list-style: disc; */
  padding-right: 30px;
  font-size: 30px;
}
#dishes::before
{
  content: "";
  top: 0%;
  left: 0px;
  height: 100%;
  position: absolute;
  background-color: #F0F0F0;
}
#dishes
{
  display: flex;
  flex-direction: row;
  background-color: #F0F0F0;
}
#dishes h5
{
  font-size: 30px;
  color: #C19060;
  padding-top: 313px ;
  margin-left:120px;
  padding-bottom: 20px;
}
#dishes h1
{
  font-size: 3.3rem;
  margin-left:120px;
  width: 500px;
}
#dishes p
{
  margin-left: 120px;
  font-size: 20px;
  width: 320px;
  padding-top: 30px;
}
#dishes ul
{
  margin-left: 120px;
}
#dishes ul li
{
  display: inline-table;
  padding-right: 30px;
  padding-top: 40px;
  font-size: 30px;
}
#more 
{
  padding-top: 50px;
}
#more a
{
  font-size: 25px;
  color: #1F2131;
}
#dish-img img
{
  width: 400px;
  height: 600px;
  padding-left: 100px;
  padding-top: 250px;
  padding-bottom: 200px;
}
.li
{
  color: #C19060;
  padding-right: 30px;
}
#facility
{
  background-color: #F0F0F0;
  height: 390px;
}
#facility h5
{
  font-size: 20px;
  color: #C19060;
  text-align: center;
  padding-bottom: 20px;
}
#facility h1
{
  font-size: 5.3rem;
  padding-bottom: 20px;
  text-align: center;
}
#facility p
{
  font-size: 25px;
  text-align: center;
  
}
.imgs
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #2B2F33;
  height:500px;
  padding: 10px;
  position: relative;
}
.imgs img
{
  height: 300px;
  width: 100%;
} 
.img-1
{
  width: 55%;
  position: absolute;
  top: -70px;
}
.img-2
{
  width: 25%;
}

.img-3
{
  width: 30%;
}
.img-1
{
  width: 60%;
}


#trusties
{
  height: 600px;
  background-color: #F0F0F0;
}
#trusties h4
{
  font-size: 30px;
  text-align: center;
  padding-top: 200px;
}
#trusties img
{
  width: 270px;
  height: 140px;
  padding-top: 100px;
  padding-right: 40px;
}
#location
{
  display: flex;
  flex-direction: row;
  background-color: #F0F0F0;
  height: 200px;
}
#location h1
{
  padding-left: 90px;
  font-size: 3.3rem;
  width: 300px;
  color: #2b2b2c;
}
#location p
{
  font-size: 23px;
  padding-top: 30px;
  padding-left: 60px;
  width: 550px;

  color: #5e6064;
}
#location p b 
{
  color: #1F2131;
}
#btn
{
  margin-left: 80px;
  margin-top: 35px;
  font-size: 20px;
  border: 2px solid black;
  color:#CDCECF;
  background-color:#2B2F33;
  padding: 12px 22px;
  border-radius: 2px;
}
#help
{
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color:#2B2F33;
}
#help img
{
  width: 50px;
  height: 50px;
  padding-left: 150px;
  padding-top: 100px;
}
#help h1
{
  padding-left: 110px;
  color: #FAFAFA;
  padding-bottom: 60px;
  font-size: 30px;
}
#help p
{
  padding-left: 110px;
  width: 400px;
  font-size: 24px;
  color: #CDCECF;
}
#help h5
{
  padding-left: 150px;
  padding-top: 80px;
  font-size: 20px;
  color: #CDCECF;
}
#help-facility
{
  background-color: #2B2F33;
  padding-left: 150px;
  padding-top: 150px;
}
#help-facility h3
{
  padding-bottom: 20px;
  font-size: 30px;
  color: #FAFAFA;
}
#help-facility h4
{
  padding-bottom: 12px;
  font-size: 20px;
  color: #CDCECF;
}
#product
{
  background-color: #2B2F33;
  padding-left: 90px;
  padding-top: 150px;
}
#product h3
{
  padding-bottom: 20px;
  font-size: 30px;
  color: #FAFAFA;
}
#product h4
{
  padding-bottom: 12px;
  font-size: 20px;
  color: #CDCECF;
}
#support
{
  background-color: #2B2F33;
  padding-left: 90px;
  padding-top: 150px;
}
#support h3
{
  padding-bottom: 20px;
  font-size: 30px;
  color: #FAFAFA;
}
#support h4
{
  padding-bottom: 12px;
  font-size: 20px;
  color: #CDCECF;
}
footer
{
    background:#2B2F33;
    color: white;
    padding: 9px 20px;
    font-size: 1.2rem;
    text-align: center;
  }
  .border
  {
  /* border: 4px solid linear-gradient(to right, red, purple); */
  /* max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px; */
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.1, #fff), color-stop(0.1, #66cc00)) 2 2 2 2 repeat repeat;
  }